# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env
.env.*

# Google API credentials
service_account.json
credentials.json
token.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
